body {
  background: url("../img/hunter.png") no-repeat center center fixed;
  background-size: auto;
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  }


.container {
  position: fixed;
  width: 500px;
  margin-top: 25px;
  margin-left: 15px;
  border: 4px solid #424445;
  border-radius: 4px;
  align-items: center;
  background-color: #625F63;
}



form {
  padding: 20px;
  margin: auto;
  width: 100%;
}

form.contact {
  padding: 20px;
}

form label {
  font-size: 110%;
}

form input {
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}

form textarea {
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}
