body {
  background: url("/img/hunter.png") no-repeat center center fixed;
  background-size: auto;
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}
body h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 200%;
}
